In [53]:
# 표준 라이브러리
import os
import time
import random
import math
from collections import defaultdict

# 서드-파티 라이브러리
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

import tensorflow as tf
from tensorflow.keras import backend as K, regularizers
from tensorflow.keras.initializers import glorot_normal, Zeros, TruncatedNormal
from tensorflow.keras.layers import (
    Input, Dense, Dropout, Activation, Flatten,
    Embedding, Conv2D, MaxPooling2D, Lambda,
    BatchNormalization, Layer,
)
from tensorflow.keras.losses import BinaryCrossentropy
from tensorflow.keras.metrics import BinaryAccuracy
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.optimizers import Nadam

# 로컬/커스텀 모듈
from autointMLP import AutoIntMLP, predict_model

In [54]:
class FeaturesEmbedding(Layer):
    def __init__(self, field_dims, embed_dim, **kwargs):
        super(FeaturesEmbedding, self).__init__(**kwargs)
        self.total_dim = sum(field_dims)
        self.embed_dim = embed_dim
        self.offsets = np.array((0, *np.cumsum(field_dims)[:-1]), dtype=np.longlong)
        self.embedding = tf.keras.layers.Embedding(input_dim=self.total_dim, output_dim=self.embed_dim)

    def build(self, input_shape):
        self.embedding.build(input_shape)
        self.embedding.set_weights([tf.keras.initializers.GlorotUniform()(shape=self.embedding.weights[0].shape)])

    def call(self, x):
        x = x + tf.constant(self.offsets)
        return self.embedding(x)

In [55]:
class MultiLayerPerceptron(Layer):
    def __init__(self, input_dim, hidden_units, activation='relu', l2_reg=0, dropout_rate=0, use_bn=False, init_std=0.0001, output_layer=True):
        super(MultiLayerPerceptron, self).__init__()
        self.dropout_rate = dropout_rate
        self.use_bn = use_bn
        hidden_units = [input_dim] + list(hidden_units)
        if output_layer:
            hidden_units += [1]

        self.linears = [Dense(units, activation=None, kernel_initializer=tf.random_normal_initializer(stddev=init_std),
                              kernel_regularizer=tf.keras.regularizers.l2(l2_reg)) for units in hidden_units[1:]]
        self.activation = tf.keras.layers.Activation(activation)
        if self.use_bn:
            self.bn = [BatchNormalization() for _ in hidden_units[1:]]
        self.dropout = Dropout(dropout_rate)

    def call(self, inputs, training=False):
        x = inputs
        for i in range(len(self.linears)):
            x = self.linears[i](x)
            if self.use_bn:
                x = self.bn[i](x, training=training)
            x = self.activation(x)
            x = self.dropout(x, training=training)
        return x

In [56]:
class MultiHeadSelfAttention(Layer):

    def __init__(self, att_embedding_size=8, head_num=2, use_res=True, scaling=False, seed=1024, **kwargs):
        if head_num <= 0:
            raise ValueError('head_num must be a int > 0')
        self.att_embedding_size = att_embedding_size
        self.head_num = head_num
        self.use_res = use_res
        self.seed = seed
        self.scaling = scaling
        super(MultiHeadSelfAttention, self).__init__(**kwargs)

    def build(self, input_shape):
        if len(input_shape) != 3:
            raise ValueError(
                "Unexpected inputs dimensions %d, expect to be 3 dimensions" % (len(input_shape)))
        embedding_size = int(input_shape[-1])
        self.W_Query = self.add_weight(name='query', shape=[embedding_size, self.att_embedding_size * self.head_num],
                                       dtype=tf.float32,
                                       initializer=TruncatedNormal(seed=self.seed))
        self.W_key = self.add_weight(name='key', shape=[embedding_size, self.att_embedding_size * self.head_num],
                                     dtype=tf.float32,
                                     initializer=TruncatedNormal(seed=self.seed + 1))
        self.W_Value = self.add_weight(name='value', shape=[embedding_size, self.att_embedding_size * self.head_num],
                                       dtype=tf.float32,
                                       initializer=TruncatedNormal(seed=self.seed + 2))
        if self.use_res:
            self.W_Res = self.add_weight(name='res', shape=[embedding_size, self.att_embedding_size * self.head_num],
                                         dtype=tf.float32,
                                         initializer=TruncatedNormal(seed=self.seed))

        super(MultiHeadSelfAttention, self).build(input_shape)

    def call(self, inputs, **kwargs):
        if K.ndim(inputs) != 3:
            raise ValueError(
                "Unexpected inputs dimensions %d, expect to be 3 dimensions" % (K.ndim(inputs)))

        querys = tf.tensordot(inputs, self.W_Query, axes=(-1, 0))
        keys = tf.tensordot(inputs, self.W_key, axes=(-1, 0))
        values = tf.tensordot(inputs, self.W_Value, axes=(-1, 0))

        querys = tf.stack(tf.split(querys, self.head_num, axis=2))
        keys = tf.stack(tf.split(keys, self.head_num, axis=2))
        values = tf.stack(tf.split(values, self.head_num, axis=2))

        inner_product = tf.matmul(querys, keys, transpose_b=True)
        if self.scaling:
            inner_product /= self.att_embedding_size ** 0.5
        self.normalized_att_scores =  tf.nn.softmax(inner_product)

        result = tf.matmul(self.normalized_att_scores, values)
        result = tf.concat(tf.split(result, self.head_num, ), axis=-1)
        result = tf.squeeze(result, axis=0) 

        if self.use_res:
            result += tf.tensordot(inputs, self.W_Res, axes=(-1, 0))
        result = tf.nn.relu(result)

        return result

    def compute_output_shape(self, input_shape):

        return (None, input_shape[1], self.att_embedding_size * self.head_num)

    def get_config(self, ):
        config = {'att_embedding_size': self.att_embedding_size, 'head_num': self.head_num
                  , 'use_res': self.use_res, 'seed': self.seed}
        base_config = super(MultiHeadSelfAttention, self).get_config()
        base_config.update(config)
        return base_config

In [57]:
class AutoIntMLP(Layer):
    def __init__(self, field_dims, embedding_size, att_layer_num=3, att_head_num=2, att_res=True,
                 dnn_hidden_units=(32, 32), dnn_activation='relu', l2_reg_dnn=0,
                 l2_reg_embedding=1e-5, dnn_use_bn=False, dnn_dropout=0.4, init_std=1e-4):
        super().__init__()
        self.embedding = FeaturesEmbedding(field_dims, embedding_size)
        self.num_fields = len(field_dims)
        self.embedding_size = embedding_size

        self.final_layer = Dense(1, use_bias=False, kernel_initializer=tf.random_normal_initializer(stddev=init_std)
        )

        #  dnn 
        self.dnn = Sequential(name="dnn")
        for units in dnn_hidden_units:
            self.dnn.add(
                Dense(
                    units,
                    activation=dnn_activation,
                    kernel_initializer=tf.random_normal_initializer(stddev=init_std),
                    kernel_regularizer=regularizers.l2(l2_reg_dnn)
                )
            )
            if dnn_use_bn:
                self.dnn.add(BatchNormalization())
            if dnn_dropout and dnn_dropout > 0:
                self.dnn.add(Dropout(dnn_dropout))
        self.dnn.add(
            Dense(
                1,
                activation=None,
                kernel_initializer=tf.random_normal_initializer(stddev=init_std)
            )
        )
        

    
        self.int_layers = [
            MultiHeadSelfAttention(embedding_size, att_head_num, att_res)
            for _ in range(att_layer_num)
        ]
       

    def call(self, inputs):
        embed_x = self.embedding(inputs)                                  # (B, F, E)
        dnn_embed = tf.reshape(embed_x, (-1, self.embedding_size * self.num_fields))

        att_input = embed_x
        for layer in self.int_layers:
            att_input = layer(att_input)

        att_output = Flatten()(att_input)                                 # (B, F*E)
        att_output = self.final_layer(att_output)                         # (B, 1)

        dnn_output = self.dnn(dnn_embed)                                  # (B, 1)

        y_pred = tf.sigmoid(att_output + dnn_output)                      # (B, 1)
        return y_pred

In [58]:
def get_DCG(ranklist, y_true):
    dcg = 0.0
    for i in range(len(ranklist)):
        item = ranklist[i]
        if item in y_true:
            dcg += 1.0 / math.log(i + 2)
    return  dcg

def get_IDCG(ranklist, y_true):
    idcg = 0.0
    i = 0
    for item in y_true:
        if item in ranklist:
            idcg += 1.0 / math.log(i + 2)
            i += 1
    return idcg

def get_NDCG(ranklist, y_true):
    '''NDCG 평가 지표'''
    ranklist = np.array(ranklist).astype(int)
    y_true = np.array(y_true).astype(int)
    dcg = get_DCG(ranklist, y_true)
    idcg = get_IDCG(y_true, y_true)
    if idcg == 0:
        return 0
    return round( (dcg / idcg), 5)

def get_hit_rate(ranklist, y_true):
    '''hitrate 평가 지표'''
    c = 0
    for y in y_true:
        if y in ranklist:
            c += 1
    return round( c / len(y_true), 5 )

In [59]:
def test_model(model, test_df):
    '''모델 테스트'''
    user_pred_info = defaultdict(list)
    total_rows = len(test_df)
    for i in range(0, total_rows, batch_size):
        features = test_df.iloc[i:i + batch_size, :-1].values
        y_pred = model.predict(features, verbose=False)
        for feature, p in zip(features, y_pred):
            u_i = feature[:2]
            user_pred_info[int(u_i[0])].append((int(u_i[1]), float(p)))
    return user_pred_info

In [60]:
project_path = os.path.abspath(os.getcwd())
data_dir_nm = 'data'
movielens_dir_nm = 'ml-1m'
model_dir_nm = 'model'
data_path = f"{project_path}/{data_dir_nm}"

In [61]:
data_path

'e:\\CODESTORE\\data_scienceProjects\\모두연\\추천 시스템\\autoint+/data'

In [62]:
movielens_rcmm = pd.read_csv(f"{data_path}/movielens_rcmm_v2.csv", dtype=str)
print(movielens_rcmm.shape)
movielens_rcmm.head()

(1000209, 15)

,user_id,movie_id,movie_decade,movie_year,rating_year,rating_month,rating_decade,genre1,genre2,genre3,gender,age,occupation,zip,label
0,1,1193,1970s,1975,2001,1,2000s,Drama,no,no,F,1,10,48067,1
1,1,661,1990s,1996,2001,1,2000s,Animation,Children's,Musical,F,1,10,48067,0
2,1,914,1960s,1964,2001,1,2000s,Musical,Romance,no,F,1,10,48067,0
3,1,3408,2000s,2000,2001,1,2000s,Drama,no,no,F,1,10,48067,1
4,1,2355,1990s,1998,2001,1,2000s,Animation,Children's,Comedy,F,1,10,48067,1

In [63]:
label_encoders = {col: LabelEncoder() for col in movielens_rcmm.columns[:-1]} # label은 제외

for col, le in label_encoders.items():
    movielens_rcmm[col] = le.fit_transform(movielens_rcmm[col])

In [64]:
movielens_rcmm.head()

,user_id,movie_id,movie_decade,movie_year,rating_year,rating_month,rating_decade,genre1,genre2,genre3,gender,age,occupation,zip,label
0,0,189,6,55,1,0,0,7,17,15,0,0,2,1588,1
1,0,3374,8,76,1,0,0,2,2,8,0,0,2,1588,0
2,0,3615,5,44,1,0,0,11,12,15,0,0,2,1588,0
3,0,2503,9,80,1,0,0,7,17,15,0,0,2,1588,1
4,0,1374,8,78,1,0,0,2,2,2,0,0,2,1588,1

In [65]:
movielens_rcmm['label'] = movielens_rcmm['label'].astype(np.float32)

In [66]:
train_df, test_df = train_test_split(movielens_rcmm, test_size=0.2, random_state=42)

In [67]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800167 entries, 416292 to 121958
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        800167 non-null  int64
 1   movie_id       800167 non-null  int64
 2   movie_decade   800167 non-null  int64
 3   movie_year     800167 non-null  int64
 4   rating_year    800167 non-null  int64
 5   rating_month   800167 non-null  int64
 6   rating_decade  800167 non-null  int64
 7   genre1         800167 non-null  int64
 8   genre2         800167 non-null  int64
 9   genre3         800167 non-null  int64
 10  gender         800167 non-null  int64
 11  age            800167 non-null  int64
 12  occupation     800167 non-null  int64
 13  zip            800167 non-null  int64
 14  label          800167 non-null  float32
dtypes: float32(1), int64(14)
memory usage: 94.6 MB

In [68]:
u_i_feature = ['user_id', 'movie_id']
meta_features = ['movie_decade', 'movie_year', 'rating_year', 'rating_month', 'rating_decade', 'genre1','genre2', 'genre3', 'gender', 'age', 'occupation', 'zip']
label = 'label'
field_dims = np.max(movielens_rcmm[u_i_feature + meta_features].astype(np.int64).values, axis=0) + 1
field_dims

array([6040, 3706,   10,   81,    4,   12,    1,   18,   18,   16,    2,
          7,   21, 3439])

In [69]:
epochs=10
learning_rate= 0.01
dropout= 0.4
batch_size = 2048
embed_dim= 16

In [70]:
class AutoIntMLPModel(Model):
    def __init__(self, field_dims, embedding_size, **kwargs):
        super().__init__()
        self.auto_int_mlp = AutoIntMLP(field_dims, embedding_size, **kwargs)

    def call(self, inputs):
        return self.auto_int_mlp(inputs)

### 모델 정의

In [71]:
autoIntMLP_model = AutoIntMLPModel(
    field_dims=field_dims,
    embedding_size=embed_dim,
    att_layer_num=3,
    att_head_num=2,
    att_res=True,
    dnn_hidden_units=(32, 32),               # 추가: DNN 은닉층 구조
    dnn_activation='relu',                  # 추가: 활성화 함수
    l2_reg_dnn=0,
    l2_reg_embedding=1e-5,
    dnn_use_bn=False,
    dnn_dropout=dropout,
    init_std=0.0001
)

### 옵티마이저, 오차함수 정의 및 컴파일

In [72]:
optimizer = Nadam(learning_rate=learning_rate)
loss_fn = BinaryCrossentropy(from_logits=False)
autoIntMLP_model.compile(optimizer=optimizer, loss=loss_fn, metrics=['binary_crossentropy'])

In [73]:
train_df[u_i_feature + meta_features]

,user_id,movie_id,movie_decade,movie_year,rating_year,rating_month,rating_decade,genre1,genre2,genre3,gender,age,occupation,zip
416292,1676,2107,4,35,0,2,0,4,6,13,1,2,15,3054
683230,3431,1898,8,79,0,10,0,15,17,15,1,0,15,2166
2434,1000,3156,8,73,0,3,0,0,14,15,1,0,2,1591
688533,3466,1861,7,63,0,10,0,4,6,15,1,2,14,2831
472584,2120,3510,8,76,0,1,0,7,17,15,0,3,16,537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,652,79,6,53,0,2,0,4,13,15,1,4,18,2425
365838,1256,1746,8,79,0,2,0,2,3,15,1,2,16,228
131932,5879,2180,7,65,0,2,0,15,17,15,0,2,8,1421
671155,3372,2579,7,65,0,10,0,1,7,10,1,2,17,1404
121958,5803,399,8,76,0,2,0,0,3,11,1,2,0,1951

### 훈련 및 평가

In [74]:
history = autoIntMLP_model.fit(train_df[u_i_feature + meta_features], train_df[label], epochs=epochs, batch_size=batch_size, validation_split=0.1)

Epoch 1/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 46s 122ms/step - binary_crossentropy: 0.5891 - loss: 0.5891 - val_binary_crossentropy: 0.5357 - val_loss: 0.5357
Epoch 2/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 49s 138ms/step - binary_crossentropy: 0.5269 - loss: 0.5269 - val_binary_crossentropy: 0.5307 - val_loss: 0.5307
Epoch 3/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 48s 135ms/step - binary_crossentropy: 0.5165 - loss: 0.5165 - val_binary_crossentropy: 0.5229 - val_loss: 0.5229
Epoch 4/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 49s 140ms/step - binary_crossentropy: 0.5061 - loss: 0.5061 - val_binary_crossentropy: 0.5186 - val_loss: 0.5186
Epoch 5/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 50s 141ms/step - binary_crossentropy: 0.4944 - loss: 0.4944 - val_binary_crossentropy: 0.5161 - val_loss: 0.5161
Epoch 6/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 49s 138ms/step - binary_crossentropy: 0.4832 - loss: 0.4832 - val_binary_crossentropy: 0.5165 - val_loss: 0.5165
Epoch 7/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 51s 144ms/step - binary_crossentropy: 0.4743 - loss: 0.4743 - val_binary_crossentropy: 0.5187 - val_loss: 0.5187
Epoch 8/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 51s 143ms/step - binary_crossentropy: 0.4659 - loss: 0.4659 - val_binary_crossentropy: 0.5218 - val_loss: 0.5218
Epoch 9/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 48s 137ms/step - binary_crossentropy: 0.4579 - loss: 0.4579 - val_binary_crossentropy: 0.5228 - val_loss: 0.5228
Epoch 10/10
352/352 ━━━━━━━━━━━━━━━━━━━━ 48s 137ms/step - binary_crossentropy: 0.4475 - loss: 0.4475 - val_binary_crossentropy: 0.5297 - val_loss: 0.5297

In [81]:
# 사용자에게 예측된 정보를 저장하는 딕셔너리 
user_pred_info = {}
# top10개
top = 10
# 테스트 값을 가지고 옵니다. 
mymodel_user_pred_info = test_model(autoIntMLP_model, test_df)
# 사용자마다 돌면서 예측 데이터 중 가장 높은 top 10만 가져옵니다. 
for user, data_info in tqdm(mymodel_user_pred_info.items(), total=len(mymodel_user_pred_info), position=0, leave=True):
    ranklist = sorted(data_info, key=lambda s : s[1], reverse=True)[:top]
    ranklist = list(dict.fromkeys([r[0] for r in ranklist]))
    user_pred_info[str(user)] = ranklist
# 원본 테스트 데이터에서 label이 1인 사용자 별 영화 정보를 가져옵니다.
test_data = test_df[test_df['label']==1].groupby('user_id')['movie_id'].apply(list)

C:\Users\USER\AppData\Local\Temp\ipykernel_19276\2567990266.py:10: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  user_pred_info[int(u_i[0])].append((int(u_i[1]), float(p)))
100%|██████████| 6038/6038 [00:00<00:00, 59500.80it/s]

In [82]:
mymodel_ndcg_result = {}
mymodel_hitrate_result = {}

# 모델 예측값과 원본 테스트 데이터를 비교해서 어느정도 성능이 나왔는지 NDCG와 Hitrate를 비교합니다.

# NDCG
for user, data_info in tqdm(test_data.items(), total=len(test_data), position=0, leave=True):
    mymodel_pred = user_pred_info.get(str(user))

    testset = list(set(np.array(data_info).astype(int)))
    mymodel_pred = mymodel_pred[:top]

    # NDCG 값 구하기
    user_ndcg = get_NDCG(mymodel_pred, testset)

    mymodel_ndcg_result[user] = user_ndcg

# Hitrate
for user, data_info in tqdm(test_data.items(), total=len(test_data), position=0, leave=True):
    mymodel_pred = user_pred_info.get(str(user))

    testset = list(set(np.array(data_info).astype(int)))
    mymodel_pred = mymodel_pred[:top]

    # hitrate 값 구하기
    user_hitrate = get_hit_rate(mymodel_pred, testset)

    # 사용자 hitrate 결과 저장
    mymodel_hitrate_result[user] = user_hitrate

100%|██████████| 5994/5994 [00:00<00:00, 9273.00it/s]
100%|██████████| 5994/5994 [00:00<00:00, 55633.97it/s]

In [83]:
print(" mymodel ndcg : ", round(np.mean(list(mymodel_ndcg_result.values())), 5))
print(" mymodel hitrate : ", round(np.mean(list(mymodel_hitrate_result.values())), 5))

 mymodel ndcg :  0.67087
 mymodel hitrate :  0.63654

In [84]:
autoIntMLP_model.save_weights('./model/autoIntMLP_model_weights.weights.h5')